@if $incluir-form  == true{
  /*------------------------------------
      ·FORMS
  ------------------------------------*/
  label,input,button,select,textarea{
    font-size: 1rem;
    padding: .2rem .25rem;
    border-radius: $radius;
    vertical-align : baseline;
    font-family : $basefont;
    display : inline-block;
  }

  input,
  textarea,
  select{
    width: 100%;
  }

  input:required:focus:invalid{
    background-color: lighten($color-alert, 5%);
    border: 1px solid $color-alert;
  }

  input:required:focus:valid{
    background-color: lighten($color-success, 40%);
    border: 1px solid $color-success;
  }
}